<h2 mat-dialog-title>Sistema de Gerenciamento</h2>
<mat-dialog-content class="mat-typography">
    <header>
        <h1>Sistema de Gerenciamento de entrada e saída de pessoas e veículos de um condomínio</h1>
        <p>Cadastro e Login no sistema, Cadastro de novos moradores e visitantes e cadastro de carros, opção de remoção deles, registra a hora da última entrada e da última saída no banco de dados, contabilidade do total de entradas e saídas no dia</p>
        <p>Front-end: Javascript, NextJs, React, Tailwindcss, Axios</p>
        <p>Back-end: Typescript, NodeJs, NestJs, API RESTful, HTTP, MVC, JWT, MySQL</p>
    </header>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Sair</button>
    <button mat-button cdkFocusInitial><a href="https://www.linkedin.com/posts/giovani-feitosa1_tive-o-prazer-de-fazer-esse-projeto-com-allyson-activity-7087624499373760512-1MwR?utm_source=share&utm_medium=member_desktop" target="_blank">Ir para o projeto</a></button>
</mat-dialog-actions>
