<header class="flex justify-center flex-col items-center text-center bg-gray-700">
    <div class="flex content-none w-full h-40 -mb-20 bg-red-500"></div>
    <img class="rounded-full border-4 border-white w-40 h-40" src="../../../../../assets/images/angularprofile.png" alt="Giovani Feitosa - Imagem de Perfil" loading="eager" width="296px" height="296px">
    <h1 class="text-white text-3xl p-5"><strong>Giovani Feitosa</strong></h1>
</header>
<section class="text-center bg-gray-700 text-slate-300">
    <div>
        <p class=""><strong class="text-red-500">Desenvolvedor Full Stack</strong> - TypeScript | JavaScript | NestJs | NextJs | Angular | API RESTful | SQL | NoSQL | Azure</p>
        <p class="my-2">Recife, Pernambuco, Brasil</p>
        <p class="mx-10 my-2">Sou um entusiasta na área de tecnologia e atualmente estou estudando no IFPE (Instituto Federal de Pernambuco). Atualmente estou focado em tecnologias como: Javascript, Typescript, NextJs, NestJs, React, API Rest, MVC, SQL e MongoDB. Minha dedicação
            para aprimorar minhas habilidades me permitiram desenvolver um sólido conjunto de conhecimentos técnicos, adquiridos principalmente através de projetos pessoais desafiadores presentes em meu GitHub.</p>
        <nav class="flex flex-wrap my-2 justify-center">
            <ul class="flex flex-wrap gap-5 justify-center">
                <li class="flex rounded-md  w-40 h-10 bg-green-500 text-black hover:bg-green-700 transition duration-500 ease-in-out">
                    <img class="w-7" src="../../../../../assets/icons/cv.svg" alt="">
                    <a class="flex items-center justify-center w-full h-full" href="assets/pdf/curriculocanvasgiovani.pdf" target="_blank">Download Cv</a>
                </li>
                <li class="flex rounded-md  w-40 h-10 bg-blue-500 text-white hover:bg-blue-700 transition duration-500 ease-in-out">
                    <img src="../../../../../assets/icons/linkedin.svg" alt="">
                    <a class="flex w-full h-full items-center justify-center" href="https://www.linkedin.com/in/giovani-feitosa1/" target="_blank">LinkedIn</a>
                </li>
            </ul>
        </nav>
        <div class="flex flex-wrap justify-center gap-5 p-5">
            <figure class="flex text-center justify-center items-center w-80 border-2 border-slate-300 rounded-md gap-2 p-2">
                <img src="../../../../../assets/icons/whatsapp.svg " alt=" " class="w-8 h-8 ">
                <figcaption>
                    <a href="https://wa.me/5581994606666?text=Ol%C3%A1+Giovani+Como+Vai%3F " target="_blank ">
                        <strong class="text-red-500">Me envie uma mensagem!</strong>
                        <p>WhatsApp: (81) 9 9460-6666</p>
                    </a>
                </figcaption>
            </figure>
            <figure class="flex text-center justify-center items-center w-80 border-2 border-slate-300 rounded-md gap-2 p-2">
                <img src="../../../../../assets/icons/mail.png " alt=" " class="w-8 h-8 ">
                <figcaption>
                    <a href="mailto:giovanifeitosa123@gmail.com " target="_blank ">
                        <strong class="text-red-500">Me envie um E-mail!</strong>
                        <p>giovanifeitosa123&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
            <figure class="flex text-center justify-center items-center w-80 border-2 border-slate-300 rounded-md gap-2 p-2">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg " class="w-8 h-8 " />
                <figcaption>
                    <a href="https://github.com/giovaniflp " target="_blank ">
                        <strong class="text-red-500">Meu GitHub!</strong>
                        <p>giovaniflp</p>
                    </a>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
