<div class="text-center bg-gray-700">
    <h2 class="text-3xl text-white p-3">Ultimas Experiências</h2>
    <div class="flex justify-center pb-5">
        <details class="w-3/4">
            <summary class="flex cursor-pointer bg-red-500 hover:bg-red-700 transition duration-500 ease-in-out rounded-t-lg justify-between items-center px-3">
                <p class="flex flex-col text-left">
                    <strong>Freelancer</strong> 09/2022 - Atualmente
                </p>
                <img class="w-5 h-5" src="../../../../../assets/icons/arrows.png" alt="">
            </summary>
            <article>
                <p class=" text-white bg-black p-3 text-sm">Como desenvolvedor Freelancer Full Stack, utilizo as linguagens TypeScript e JavaScript junto de Frameworks e bibliotecas como Next.js, Nest.js e React, e assim conectando em bancos de dados SQL e NoSQL (MySQL e MongoDB) por meio de APIs
                    RESTful. Faço o uso da nuvem da Azure para criar soluções robustas e escaláveis.
                </p>
                <p class=" text-white bg-black rounded-b-lg p-3 text-sm">Embora minha experiência prática se concentre em projetos acadêmicos, estou preparado para aplicar meu conhecimento e minha energia na construção de soluções digitais funcionais e inovadoras para desafios do mundo real. Minha busca contínua
                    por aprendizado e meu compromisso com uma boa qualidade de software me capacitam para enfrentar novos desafios com confiança e entusiasmo.
                </p>
            </article>
        </details>
    </div>
</div>
