<div class="text-center text-white bg-black p-10">
    <h2 class="text-3xl pb-3">Conhecimentos</h2>
    <ul class="flex flex-wrap justify-center items-center gap-2">
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" class="w-8 h-8" loading="lazy" />
        </li>
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" class="w-8 h-8" loading="lazy" />
        </li>
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" class="w-8 h-8" loading="lazy" />
        </li>
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" class="w-8 h-8" loading="lazy" />
        </li>
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg" class="w-8 h-8" loading="lazy" />
        </li>
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg" class="w-8 h-8" loading="lazy" />
        </li>
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" class="w-8 h-8" loading="lazy" />
        </li>
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" class="w-8 h-8" loading="lazy" />
        </li>
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" class="w-8 h-8" loading="lazy" />
        </li>
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" class="w-8 h-8" loading="lazy" />
        </li>
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg" class="w-8 h-8" loading="lazy" />
        </li>
        <li class="bg-gray-800 w-16 h-16 rounded-md flex justify-center items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" class="w-8 h-8" loading="lazy" />
        </li>
    </ul>
</div>
