<h2 mat-dialog-title>Deafy</h2>
<mat-dialog-content class="mat-typography">
    <header>
        <h1>Deafy - App de música para inclusão de deficientes auditivos</h1>
        <p>Um app de música com transcrição de áudio para textos/legendas feitas por inteligência artificial, postagem de música/podcasts ou audiobooks na home page para usuários verificados.
        </p>
        <p>Front-end: Javascript, Typescript, NextJs, React Slider, Tailwindcss, React. </p>
        <p>Back-end: Typescript, NestJs, MySQL, Prisma, Azure Cloud, JWT, API RESTful, MVC, HTTP. </p>
        <p>Deploy: Vercel, Render.</p>
    </header>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Sair</button>
    <button mat-button cdkFocusInitial><a href="https://deafy-front.vercel.app/" target="_blank">Ir para o projeto</a></button>
</mat-dialog-actions>
