<div class="bg-black text-white text-center pb-3">
    <h2 class="text-3xl p-3">Projetos desenvolvidos</h2>
    <ul class="flex flex-wrap justify-center gap-10">
        <li>
            <button class="flex justify-center items-center border-2 border-white rounded-md hover:bg-gray-800 transition duration-500 ease-in-out" (click)="openDialog()">
              <img src="../../../../../assets/images/deafyicon.png" alt="" loading="lazy" class="w-40 h-40">
            </button>
        </li>
        <li>
            <button class="flex justify-center items-center border-2 border-white rounded-md hover:bg-gray-800 transition duration-300 ease-in-out" (click)="openDialog2()">
              <img src="../../../../../assets/images/projeto2.png" alt="" loading="lazy" class="w-40 h-40">
            </button>
        </li>
    </ul>
</div>
